.app {
  width: 80%; 
  margin-left: 0.5rem;
  margin-right: auto; 
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.map-container {
  height: 60vh; /* Adjusted to take 80% of the viewport height */
  width: 40vw;  /* Adjusted to take 90% of the viewport width */
  border: 2px solid black;
  /* border-radius: 20px; */
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
    padding: 5rem;
    justify-content: space-evenly;
  }

  .map-container {
    height: 80vh; /* Adjusted to take 80% of the viewport height */
    width: 80vw;  /* Adjusted to take 80% of the viewport width */
  }
}
